{
  "presets": [["env", { "modules": false }], "stage-2"],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["es2017", "@ava/stage-4", "env"],
      "plugins": ["rewire"]
    }
  }
}
